# Ambiente virtual
.venv/

# Caches e compilados Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Diretórios e ficheiros específicos do projeto
.vscode/
downloads/
filestotest/
test.py
documentacao_final.md
notes
requests_repo
list_of_files.txt

# Checkpoints Jupyter
.ipynb_checkpoints/

# Ficheiros do sistema
.DS_Store

# Outros possíveis caches
*.log
*.tmp
*.swp
