# Ambiente virtual
.venv/

# Caches e compilados Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Arquivos de inicialização (caso desejes ignorar mesmo)
__init__.py

# Diretórios e ficheiros específicos do projeto
.vscode/
downloads/
filestotest/
test.py
documentacao_final.md
notes

# Checkpoints Jupyter
.ipynb_checkpoints/

# Ficheiros do sistema
.DS_Store

# Outros possíveis caches
*.log
*.tmp
*.swp
